.App{
	/* width: 100vw; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
}

h1{
	margin: 1em;
}

.container{
	width: 90%;
	height: 200px;
	background-color: lightblue;
	margin: 1em;
	z-index: 1;
}

.container button{
	margin: 1em;
	padding: .5em;
}

.other{
	width: 90%;
	height: 200px;
	background-color: rgb(241, 173, 241);
	margin: 1em;
	padding: .5em;
	z-index: 2;
}
.modal{
	width: 500px;
	height: 300px;
	position: fixed;
	top: calc(50% - 150px);
	left: calc(50% - 250px);


	background-color: rgb(76, 76, 76);
	margin: 1em;
	z-index: 3;
	display: flex;
	justify-content: flex-end;
}

.modal button{
	width: 50px;
	height: 35px;
	margin: 1em;
	padding: .5em;
}